/* Global Settings */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  background-color: $color-white;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

/* Remove bullets from lists */
ul,
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  vertical-align: middle;
}

/* Inherit fonts for inputs and buttons */
input,
textarea,
select {
  font: inherit;
}

button {
  background: none;
  border: 0;
  font: inherit;
  color: inherit;
  /* cursor: pointer; */
  line-height: normal;
  overflow: visible;
  padding: 0;
}

/* Reduce Animation depends on user choises */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
