.events {
  @include flex($justify: space-between);

  @include media("<tablet") {
    @include flex(column);
  }

  &-left {
    @include flex(column, $justify: space-between, $gap: 2.5rem);
    width: 40rem;
    // min-height: 100%;
    padding-left: 16.5rem;

    @include media("<tablet") {
      width: 100%;
      padding: var(--space-y-sm) var(--space-x-sm);
    }
  }

  &-list {
    @include media("<tablet") {
      @include flex(row, $gap: 1rem);
    }
  }

  &-item {
    position: relative;
    @include font($font-heading, 900);
    color: $color-black;
    text-transform: uppercase;
    opacity: 0.5;
    transition: all 0.5s ease-in-out;
    cursor: pointer;

    @include media("<tablet") {
      font-size: 1rem;
    }

    &::before {
      @include pseudo($w: 0, $h: 2px, $t: 50%, $l: 0);
      background-color: $color-black;
      transition: width 0.5s;
    }

    &.is-active {
      opacity: 1;
      font-size: 1.6rem;
      margin-bottom: 1rem;

      &.events-item {
        padding-left: 3rem;
      }
      &.events-item::before {
        width: 2rem;
      }
    }
  }
}
