/* Footer */
footer {
  @include flex(row, space-between);
  background-color: $color-primary;
  max-width: 100%;
  padding: 8rem 16.5rem;
}

.footer {
  &-logo {
    max-width: 16rem;
    height: 5.8rem;
  }
  &-info {
    max-width: 43rem;
    color: $color-black;
  }
  &-social {
    @include flex($align: baseline, $gap: 1.2rem);
    min-width: 10rem;

    &-link {
      width: 2rem;
    }
  }
}
