/* Footer */
footer {
  @include flex(row, $justify: space-between);
  background-color: $color-primary;
  max-width: 100%;
  padding: 8rem 3.6rem;

  @include media("<tablet") {
    @include flex(column, $justify: center, $gap: 3rem);
  }
}

.footer {
  &-logo {
    max-width: 16rem;
    height: 5.8rem;
  }
  &-info {
    max-width: 43rem;
    color: $color-black;
    @include media("<tablet") {
      max-width: 100%;
    }
  }
  &-social {
    @include flex($align: baseline, $gap: 1.2rem);
    min-width: 10rem;

    &-link {
      width: 2rem;
    }
  }
}
