/* Section: Hero */
.hero {
  width: 100%;
  min-height: 80rem;
  background: linear-gradient(90deg, $color-black 50%, transparent 0%);

  &-inner {
    @include flex($placeContent: center);
    position: relative;
    max-width: 100%;
    margin: 0 var(--space-x-lg);
  }

  &-image {
    max-width: 54rem;
  }

  &-content {
    @include flex($justify: space-between);
    position: absolute;
    width: 100%;
    margin-top: 19rem;
  }

  &-title {
    color: $color-white;
    background: linear-gradient(90deg, $color-white 63%, $color-black 0%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &-caption {
    max-width: 35rem;
  }
}
