/* Section: Hero */
.hero {
  @include flex($justify: center);
  position: relative;
  min-height: 80rem;
  @include inner-container;
  background: linear-gradient(90deg, $color-black 50%, transparent 0%);

  &-image {
    max-width: 54rem;
  }

  &-content {
    @include flex($justify: space-between);
    @include pos(absolute);
    width: 111rem;
    padding-top: 19rem;
  }

  &-title {
    color: $color-white;
    background: linear-gradient(90deg, $color-white 63%, $color-black 0%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &-caption {
    @include flex(column, $gap: 6rem);
    max-width: 35rem;
  }
}
