/* Section: Location */
.location {
  margin-bottom: 0;

  &-map {
    max-width: 100%;
  }

  &-block {
    @include flex($justify: space-between);
    background-color: $color-black;
    @include inner-container(10rem);
  }

  &-title {
    max-width: 30rem;
    color: $color-white;
  }

  &-adress {
    @include flex(column, $gap: 3rem);
    max-width: 54rem;
    color: $color-white;

    &-street {
      color: $color-primary !important;
    }
  }
}
