/* Section: Location */
.location {
  margin-bottom: 0;

  &-map {
    max-width: 100%;
  }

  &-block {
    @include flex($justify: space-between);
    background-color: $color-black;
    @include inner-container(10rem);

    @include media("<tablet") {
      @include flex(column);
      padding: var(--space-y-md) var(--space-x-sm);
    }
  }

  &-title {
    max-width: 30rem;
    color: $color-white;

    @include media("<tablet") {
      max-width: 100%;
    }
  }

  &-adress {
    @include flex(column, $gap: 3rem);
    max-width: 54rem;
    color: $color-white;

    &-street {
      color: $color-primary !important;
    }
  }
}
