/* Section: Subscribe */
.subscribe {
  @include flex(column, $align: center);
  background-color: $color-primary;
  @include inner-container(8rem);
  margin-bottom: 0;

  @include media("<tablet") {
    padding: 6rem var(--space-y-sm);
  }

  &-form {
    @include flex($gap: 2rem);

    @include media("<tablet") {
      @include flex(column);
    }
  }

  h3 {
    @include media("<tablet") {
      font-size: 3.6rem;
    }
  }

  &-text {
    color: $color-black;
    text-transform: uppercase;
    margin-bottom: 3rem;

    &-sm {
      @include text-sizes(1.6rem, 2.4rem);
      color: $color-black;
      padding-top: 1rem;
      @include x(-10rem);
      @include media("<tablet") {
        @include x(0);
      }
    }
  }

  &-input {
    width: 40rem;
    color: $color-black;
    padding: 1.5rem 3rem;
    transition: width 0.5s;

    @include media("<tablet") {
      width: 30rem;
    }

    &:focus {
      width: 45rem;

      @include media("<tablet") {
        width: 35rem;
      }
    }
  }
}
