// Button Component
/* Button Component */

.btn {
  display: block;
  @include font($font-heading, 800, 2rem, 0.37rem);
  background-color: $color-black;
  color: $color-white;
  text-transform: uppercase;
  padding: 2.6rem 3.2rem;
  position: relative;
  cursor: pointer;
  transition: background-color 0.35s;
  margin-top: 6rem;

  &::after {
    content: url(../../images/icon-arrow-right.svg);
    position: absolute;
    top: 0;
    right: -5.6rem;
    width: 8px;
    height: 24px;
    background-color: $color-primary;
    padding: 2.6rem 2.4rem;
    transition: background-color 0.35s;
  }

  &:hover {
    background-color: $color-primary;
    &::after {
      background-color: $color-black;
    }
  }
}
