// Button Component
/* Button Component */

.btn {
  display: block;
  position: relative;
  @include font($font-heading, 800, 2rem, 0.37rem);
  background-color: $color-black;
  color: $color-white;
  text-transform: uppercase;
  padding: 2.6rem 3.2rem;
  margin-top: 6rem;
  cursor: pointer;
  transition: background-color 0.35s;

  &::after {
    @include pseudo($w: 0.8rem, $h: 2.4rem, $t: 0, $r: -5.6rem);
    content: url(../../images/icon-arrow-right.svg);
    background-color: $color-primary;
    padding: 2.6rem 2.4rem;
    transition: background-color 0.35s;
  }

  &:hover {
    background-color: $color-primary;

    &::after {
      background-color: $color-black;
    }
  }
}
