/* Button Component */
.btn {
  /* General Button Style */
  @include flex($align: center);
  @include text-style(
    $font-heading,
    $size: 2rem,
    $letter-spacing: 0.37rem,
    $text-transform: uppercase
  );
  background-color: $color-black;
  color: $color-white;
  cursor: pointer;
  transition: background-color 0.35s, color 0.35s;
  // disable button to strecth
  align-self: flex-start;

  /* Button Hover States */
  &:hover {
    background-color: $color-primary;
    color: $color-black;

    & .btn--icon path {
      stroke: $color-black;
    }
  }

  /* Button Variants */
  /* Button Primary */
  &--primary {
    padding: 1.2rem 2.6rem;
  }

  /* Button Submit */
  &--submit {
    padding: 1.2rem 2.6rem;

    &:hover {
      background-color: $color-black;
      color: $color-primary;
    }
  }

  /* Button with icon */
  &--icon {
    margin-left: 2rem;
  }

  /* Button small */
  &--sm {
    @include text-style($size: 1.6rem);
    padding: 0.8rem 1.6rem;
  }
}
